extends /includes/template.pug

mixin firstmessage(comment, author, date)
  p= comment
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/${author.toLowerCase().split(' ').join('-')}` class='hover:underline').font-bold= author
    |  — 
    span.italic= date

mixin message(comment, author, date)
  p.mt-4= comment
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/${author.toLowerCase().split(' ').join('-')}` class='hover:underline').font-bold= author
    |  — 
    span.italic= date

block content
  +topblock 
    h2.font-bold.text-xl Message History
  +middleblock
    block messages
  +middleblock
    p
      | Please 
      a(href="/login.html" class="hover:underline font-bold") login
      |  to send messages.
