extends /includes/template.pug

mixin firstmessage(comment, author, date)
  p
    each c in comment.split('\n')
      = c
      br
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/${author.toLowerCase().split(' ').join('-')}` class='underline hover:no-underline').font-bold= author
    |  — 
    span.italic= date

mixin message(comment, author, date)
  p.mt-4
    each c in comment.split('\n')
      = c
      br
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/${author.toLowerCase().split(' ').join('-')}` class='underline hover:no-underline').font-bold= author
    |  — 
    span.italic= date

mixin deleted(author, date)
  p.italic Message deleted
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/${author.toLowerCase().split(' ').join('-')}` class='underline hover:no-underline').font-bold= author
    |  — 
    span.italic= date

mixin deletednext(author, date)
  p.mt-4.italic Message deleted
  p.text-sm.m-2.mb-0
    | By 
    a(href=`/user/${author.toLowerCase().split(' ').join('-')}` class='underline hover:no-underline').font-bold= author
    |  — 
    span.italic= date

block content
  +topblock 
    h2.font-bold.text-xl Message History
  +middleblock
    block messages
  +middleblock
    p
      | Please 
      a(href="/login.html" class="underline hover:no-underline font-bold") login
      |  to send messages.
